.container {
    width: 100%;
}

.details-page {}

.w-65 {
    width: 65%;
}

.w-60 {
    width: 65%;
}

.w-35 {
    width: 35%;
}

.w-30 {
    width: 30%;
}

.w-100 {
    width: 100%;
}

.m-1 {
    margin: 1em;
}

.m-5 {
    margin: 5em;
}

.p-5 {
    padding: 5vh;
}

.bg-shade {
    background-color: rgb(244, 243, 252);
}

.bg-white {
    background-color: rgb(255, 255, 255);
}

.float-right {
    float: right;
}

.float-left {
    float: left;
}

.pt-2 {
    padding-top: 2vh;
}

.product-detail-image {
    max-width: 400px;
    max-height: 400px;
    margin: 0 auto;
}

.product-detail-image img {
    width: 400px;
}

.product-name-xl {
    font-size: 24px;
    line-height: 18px;
    font-weight: bold;
    color: #189ea3;
    margin: 5px 0;
    overflow: hidden;
    font-family: inherit;
}

.m-2 {
    margin: 2vh;
}

.product-label-xl {
    font-size: 18px;
    opacity: 0.8;
}

.company_name {
    color: #4d4e4e;
    outline: none;
    text-decoration: none;
    font-size: 20px;
    font-family: inherit;
    font-weight: 500;
}

.button-2 {
    border: 1px solid #189ea3;
    border-radius: 5px;
    color: white;
    text-align: center;
    font-size: 14px;
    padding: 8px 40px;
    margin: 4px 2px;
    background-color: #189ea3;
}

.button-back {
    float: right;
    border: 1px solid #189ea3;
    border-radius: 5px;
    color: #189ea3;
    text-align: center;
    font-size: 14px;
    padding: 8px 40px;
    margin: 4px 2px;
    background-color: white;
}

.note {
    color: #189ea3;
    font-size: 13px;
    font-family: inherit;
}

.other-box {
    display: grid;
    border: 1px solid black;
    width: 20%;
}

.product-details {
    color: #4d4e4e;
}