#container {
    display: grid;
    /* width: 100%;
      height: 70px; */
  }
  body {
    background-color: #f3f3f3;
  }
  #container > div {
    display: flex;
    /* grid-template-columns: repeat(); */
    width: 100%;
    height: 80px;
    background-color: white;
  }
  .first_div {
    /* border: 3px solid rgb(177, 46, 46); */
    position: fixed;
    z-index: 35;
    /* box-shadow: rgba(67, 67, 68, 0.2) 0px 7px 29px 0px; */
    margin: 0;
  }
  .sec_div {
    border: 0.1px solid rgb(121, 122, 121);
    position: sticky;
    /* width:13000px; */
    margin-top: 80px;
    background-color: white;
  }
  
  .med_image {
    width: 20%;
    height: 60px;
    margin-left: 40px;
    padding: 1px;
    margin-top: 10px;
  }
  
  .search_box {
    display: flex;
    height: 50px;
    width: 590px;
    /* padding:auto; */
    margin: 14px;
    border: 1px solid gray;
    border-radius: 10px;
  }
  .search {
    height: 48px;
    width: 90%;
    /* padding:auto; */
    margin: 0px;
    border: 0;
    border-radius: 10px;
    font-size: 17px;
  }
  input:focus,
  textarea:focus,
  select:focus {
    outline: none;
  }
  button:focus,textarea:focus,select:focus{
      outline:none;
  }
  .search_tag_img {
    margin: 3px;
    width: 40px;
    height: 40px;
    padding: 0px;
    border-radius: 50%;
    background-color: white;
  }
  .search_tag_img:hover {
    background-color:white;
  }
  .order_div {
    display: flex;
    width: 170px;
    height: 50px;
    border-radius: 8px;
    background-color: #189ea3;
    color: white;
    /* padding: 2px; */
    margin-top: 13px;
    margin-right: 10px;
  }
  .order_div:hover {
    color: #cad6d6;
    cursor: pointer;
  }
  
  .order {
    width: 190px;
    height: 40px;
    font-size: 11px;
    font-weight: 20px;
    line-height: 18px;
    margin-top: 9px;
  }
  .order_img {
    width: 48px;
    height: 40px;
    margin:7px;
  }
  .log_div {
    display: flex;
    width: 160px;
    padding: 9px;
    height: 48px;
    margin-top: 20px;
  }
  .log_div:hover {
    color: #93b3b4;
    cursor: pointer;
  }
  .log {
    width: 100px;
    height: 25px;
    text-align: left;
    font-size: 20px;
    /* margin: 2px; */
  }
  .log_img {
    width: 30px;
    height: 30px;
    /* margin-top: 20px; 
  margin-left: 18px;  */
    border-radius: 50%;
    background-color: rgb(243, 240, 240);
    padding: 5px;
  }
  .tag {
    width: 35px;
    height: 35px;
    margin: 26px;
    margin-left: 13px;
    border-radius: 50%;
    padding: 2px;
    background-color: rgb(243, 240, 240);
  }
  .tag:hover {
    cursor: pointer;
    background-color: rgb(215, 226, 226);
  }
  .div {
    height: 80px;
    width: 100%;
    /* background-color: white; */
  }
  #image {
    height: 40px;
    width: 50px;
    margin-top: 10px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    line-height: 1px;
    margin-left: 29px;
    text-align: center;
  }
  #image>div:nth-child(10){
      text-align: right;
  }
  .div:hover {
    color: cadetblue;
    cursor: pointer;
    box-shadow: rgba(224, 224, 228, 0.2) 0px 7px 29px 0px;
  }
  .name {
    line-height: 10px;
    margin-left: 36px;
    font-size: 11px;
  }
  .carousel {
    margin: auto;
    position: sticky;
    width: 92%;
    height: 420px;
    /* border: 1px solid rgb(226, 41, 41); */
    margin-top: 20px;
    /* display: none; */
    /* background-color: white; */
  }
  img {
    width: 100%;
    height: 420px;
  }
  /* .carousel-cell:before{
       display: block;
   } */
  .add {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 100%);
    grid-gap: 25px;
    margin: auto;
    margin-top: 50px;
    width: 92%;
    height: 120px;
    border: 1px solid transparent;
    
  }
  .add > div > img {
    width: 100%;
    height: 100%;
    /* border: 1px solid rgb(26, 24, 24); */
    
  }
  .add_2 {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(1, 100%);
    grid-gap: 25px;
    margin: auto;
    margin-top: 45px;
    width: 90%;
    height: 100px;
    
    border: 1px solid transparent;
    /* border: 1px solid rgb(26, 24, 24); */
  }
  .add_2 > div > img {
    width: 100%;
    height: 100px;
    padding: 8px;
    
    background-color: white;
  }
  .add_2 > div > img:hover {
    box-shadow: rgba(82, 80, 80, 0.2) 0px 7px 29px 0px;
  }
  .add > div > img:hover {
   box-shadow: rgba(82, 80, 80, 0.2) 0px 7px 29px 0px;
  }
  .hr {
    margin-top: 90px;
  }
  .trade {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(1, 90%);
    grid-gap: 6px;
    margin: auto;
    height: 270px;
    width: 92%;
    /* border: 1px solid rgb(26, 24, 24); */
    margin-top: 10px;
  }
  .trade > div {
    height: 270px;
    width: 100%;
    box-shadow: rgba(17, 17, 17, 0.24) 0px 3px 8px;
    background-color: white;
  }
  .trade > div:hover {
    box-shadow: rgba(250, 246, 246, 0.2) 0px 7px 29px 0px;
  }
  .box1 {
    width: 47px;
    height: 20px;
    border: 1px solid #189ea3;
    margin-top: 15px;
    margin-left: 15px;
    color: #189ea3;
    border-radius: 5px;
    text-align: center;
  }
  .box2 {
    width: 37%;
    height: 100px;
    /* border: 1px solid rgb(26, 24, 24); */
    margin: auto;
    /* margin:5px; */
  }
  .box2 > img {
    width: 100%;
    height: 100px;
  }
  
  .box3 {
    width: 90%;
    height: 50px;
    /* border: 1px solid rgb(26, 24, 24); */
    margin: 2x;
    line-height: 8px;
    margin-left: 15px;
    font-size: 14px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  }
  
  
  .box4 {
    width: 95%;
    height: 70px;
    /* border: 1px solid rgb(26, 24, 24); */
    display: flex;
  }
  .box5 {
    width: 40%;
    height: 70px;
    /* border: 1px solid rgb(26, 24, 24); */
    line-height: 10px;
    margin-left: 15px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  }
  .box6 {
    width: 49%;
    height: 50px;
    /* border: 1px solid rgb(26, 24, 24); */
    margin-top: 0px;
    margin-left: 50px;
    /* margin: 15px; */
    border-radius: 6px;
    color: white;
    background-color: #189ea3;
    text-align: center;
    padding: 8px;
  }
  .box6:hover {
    background-color: #1e5f63;
  }
  .un {
    text-decoration: line-through;
    font-size: small;
  }
  .p {
    margin: 30px;
    margin-left: 50px;
    font-size: 20px;
    font-weight: bolder;
    /* padding:20px; */
    color: #4d4e4e;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  }
  #india {
    display: flex;
    width: 100%;
    height: 450px;
    margin-top: 60px;
    background-color: white;
    /* border: 1px solid black; */
  }
  .india_img {
    width: 30%;
    height: 100%;
    /* border: 1px solid rgb(141, 37, 37); */
  }
  .india_text {
    width: 70%;
    height: 100%;
    /* border: 1px solid rgb(77, 201, 20); */
    /* text-align: center; */
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  }
  .india_text > p:nth-child(1) {
    color: #349ea3;
    line-height: 50px;
    margin-left: 33px;
    font-size: 35px;
    font-weight: 35px;
  }
  .india_text > p:nth-child(2) {
    color: #4d4e4e;
    line-height: 30px;
    margin-left: 33px;
    font-size: 20px;
  }
  .p{
    margin-top: 100px;
  }
  .petter {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 1fr);
    /* width: 100%; */
    grid-gap: 10px;
    height: 150px;
    /* margin-top:60px; */
    background-color: white;
    /* border: 1px solid black; */
  }
  .petter > div {
    width: 100%;
    border: 0.5px solid #a9aaaa;
    height: 150px;
    /* margin-left: 50px; */
    text-align: center;
  }
  .petter > div > img {
    width: 50px;
    margin-top: 10px;
    /* margin-left: 40px; */
    height: 50px;
    /* background-color:white; */
  }
  .petter > div > p:nth-child(2) {
    font-size: 15px;
    margin-left: 20px;
    line-height: 5px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    color: #4d4e4e;
  }
  .petter > div > p:nth-child(1) {
    font-size: 13px;
    margin-left: 20px;
    line-height: 10px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    color: #4d4e4e;
  }
  
  @media only screen and (min-width:0px) and (max-width:570px) {
      #container{
          display: grid;
          grid-template-rows: repeat(1,1fr);
          /* grid-template-rows: repeat(2,1fr); */
          /* grid-template-areas: "med_image oder_div log_div tag"
          "search_"; */
      } 
   .sec_div{
          display: grid;
          grid-template-columns: repeat(2,1fr);
   }
  }
  @media only screen and (min-width:570px) and (max-width:1000px) {
      .sec_div{
          display: grid;
          grid-template-columns: repeat(4,1fr);
      }
      .first_div{
          display: grid;
          grid-template-columns: repeat(4,1fr);
          grid-template-rows: repeat();
      }
  }
  /* middle part */
  
  #midup {
    display: flex;
    justify-content: space-around;
    /* border:1px solid red; */
    background-color: white;
    width: 100%;
    height: 450px;
    padding: 50px;
  }
  #midup > img {
    width: 30%;
    /* margin-top: 20px; */
    height: 100%;
    margin-left: 10px;
    /* border:1px solid rgb(27, 206, 65); */
  }
  #cashpromo {
    margin-top: 50px;
    /* border:1px solid red; */
    width: 700px;
    height: 300px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  }
  #cashpromo > div {
    font-size: 32px;
    color: #189ea3;
    font-weight: 500;
    line-height: 35px;
    border-radius: 10px;
    /* border:1px solid red; */
  }
  
  div + p {
    padding-left: 50px;
    font-size: 20px;
    /* border:1px solid red; */
  }
  div + p + p {
    font-size: 15px;
    padding-left: 60px;
    /* border:1px solid red; */
  }
  #mob {
    display: flex;
    width: 600px;
    height: 50px;
    margin-bottom: 30px;
    border-radius: 10px;
  }
  input {
    width: 300px;
    margin-left: 100px;
  }
  input + div {
    color: white;
    background-color: #189ea3;
    width: 50px;
  
    font-size: 10px;
  
    padding: 5px;
  }
  #mob + img {
    margin-left: 200px;
    /* border:1px solid red; */
    width: 200px;
    height: 70px;
  }
  #middown {
    margin-top: 0px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 250px;
    background-color: white;
  }
  #middown > div {
    border: 1px solid rgba(128, 128, 128, 0.568);
  }
  #middown > div:nth-child(1) {
    background-color: #189ea3;
    color: white;
  }
  #middown > div > img {
    margin-left: 25%;
    height: 50%;
    width: 150px;
    margin-top: 45px;
    background-color: #189ea3;
  }
  img + h2 {
    margin-left: 20%;
    font-size: 30px;
  }
  .article {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    padding: 10px;
  }
  .article > p:nth-child(1) {
    color: #189ea3;
  
    font-weight: 500;
  }
  .article > div {
    border: 1px solid #189ea3;
    color: #189ea3;
    width: 80px;
    border-radius: 10px;
    padding: 12px;
    margin: 30px;
  }
  .article > div:hover {
    color: white;
    cursor: pointer;
    background-color: #189ea3;
  }
  .article > p:nth-child(2) {
    color: #707070;
  }
  
  /* footer part */
  
  #main {
    /* width: 90%; */
    background-color: white;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    /* border:1px solid red; */
    /* border:1px solid red; */
  }
  #payment {
    text-align: center;
    /* border:1px solid rgb(81, 228, 13); */
    height: 40px;
    /* margin-top: 50px; */
  }
  #payment > img {
    height: 100px;
    /* border:1px solid red;  */
    padding: 20px;
    width: 900px;
  }
  #payment>img:hover{
      color:#189ea3;
      box-shadow: rgba(97, 97, 97, 0.2) 0px 7px 29px 0px;
    }
  #brand {
    margin: auto;
    margin-top: 150px;
    text-align: center;
    width: 90%;
    /* border:1px solid red; */
  }
  
  a {
    text-decoration: none;
    color: rgb(49, 42, 42);
    margin-left: 10px;
    /* border:1px solid red; */
  
  }
  a:hover{
    color:#189ea3;
    box-shadow: rgba(54, 53, 53, 0.2) 0px 7px 29px 0px;
    /* border:1px solid red; */
  }
  
  #online {
    margin: auto;
    text-align: center;
    width: 90%;
    color: rgb(90, 79, 79);
    /* border:1px solid red; */
  }
  #mednear {
    margin: auto;
    margin-top: 40px;
    text-align: center;
    width: 90%;
    color: rgb(77, 64, 64);
    /* border:1px solid red; */
  }
  h3 {
    /* margin-left: 0px; */
    color: rgb(77, 64, 64);
  }
  h3:hover{
    color:#189ea3;
    box-shadow: rgba(207, 202, 202, 0.2) 0px 7px 29px 0px;
  }
  #blog {
    margin: auto;
    margin-top: 40px;
    width: 90%;
    color: rgb(77, 64, 64);
    display: flex;
    justify-content: space-around;
    /* border:1px solid red; */
  }
  #blog>div:hover{
    color:#189ea3;
    box-shadow: rgba(207, 202, 202, 0.2) 0px 7px 29px 0px;
  }
  #blog > div > img {
    width: 200px;
    height: 70px;
    /* border:1px solid red; */
  }
  #end {
    margin: auto;
    margin-top: 40px;
    text-align: center;
    width: 90%;
    color: rgb(77, 64, 64);
    /* border:1px solid red; */
  }
  b {
    color: rgb(14, 11, 11);
    /* border:1px solid red; */
  }
  p1 {
    font-size: 12px;
    /* border:1px solid red; */
  }
  p1:hover{
    color:#189ea3;
    box-shadow: rgba(207, 202, 202, 0.2) 0px 7px 29px 0px;
  }
  b:hover{
    color:#189ea3;
    box-shadow: rgba(207, 202, 202, 0.2) 0px 7px 29px 0px;
  }