body{
    background-color:#f3f3f3 ;
}
#container>div{
    display: flex;
    width: 100%;
    height: 80px;
    background-color: white;
    border-top:0.1px solid #cdcdcd;
    border-bottom:0.2px solid #cdcdcd;
    padding:5px;
    

}
#after{
    padding-top: 100px;
}
.first_div{
    
    position:fixed;
    z-index:35;
    
    margin:0;
}

.med_image{
width: 200px;
    height: 60px;
    margin-left: 40px;
    margin-top: 10px;
  
}
.search_box{
  display: flex;
  height: 50px;
  width: 750px;
 
  margin:15px;
  border: 1px solid #cdcdcd;
  border-radius: 10px;
  
}
.search{
height: 48px;
  width: 93%;
  
  border:0 ;
  border-radius: 10px;
  font-size: 17px;
}
input:focus, textarea:focus, select:focus{
        outline: none;
    }

.search_tag_img{
  margin: 3px;
  width: 35px;
  height: 35px;
  padding:4px;
  border-radius: 50%;
  background-color: white;
  
}
.search_tag_img:hover{
background-color: #eff5f5; 

}
.order_div{
   display: flex;
   width: 170px;
  height: 35px;
  border-radius: 8px;
  background-color: #189ea3;
  color:white;
   padding:8px;
  margin-top:15px;
  margin-right: 10px;
  
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.order_div:hover{
    color: #cad6d6;
    cursor: pointer;
}
.order{
width: 130px;
height: 40px;
font-size: 13px;
margin-left: 9px;
}
.order>div:nth-child(1){
    font-weight: bolder;
}
.order_img{
width: 48px;
  height:40px; 
}
.log_div{
  display: flex;
width: 160px;
padding: 5px;
height: 40px;
margin-top: 15px;
}
.log_div:hover{
color: #93b3b4;
cursor: pointer;
}
.log{
width: 100px;
height: 25px;
color:#4d4e4e;
font-size:15px;
margin-top: 14px;
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-weight: bold;
margin-left: 15px;
}
.log:hover{
    color:#189ea3;
}
.log_img{
width: 28px;
height: 42px;
margin-top: 5px;
margin-bottom: 15px; 
margin-left: 18px; 
border-radius: 50%;
  background-color: rgb(243, 240, 240);
  
}
 .tagup{
width: 25px;
height: 25px;
margin: 17px; 
margin-left: 13px;
border-radius: 50%;
padding:10px;
background-color: rgb(243, 240, 240);
 
}
.tagup:hover{ 
cursor: pointer;
background-color:  rgb(215, 226, 226);
} 
.upper{
    
    width:92%;
    height:550px;
    display:flex;
    padding:20px;
    margin:auto;
    margin-top:20px;

}
.lower{
    
    width:92%;
    height:350px;
    padding:20px;
    margin:auto;
}
.lower>div{
    display:grid;
    grid-template-rows: 300px;
    grid-template-columns: repeat(5,1fr);
    grid-gap:3px;
}
/* .lower>div>div{
    border:1px solid black;
} */
#discount{
width:35px;
height:15px;
border:1px solid #189ea3;
color:#189ea3;
font-size:11px;
padding:1px;
border-radius: 5px;
}
#eachsoyvita>div>img{
width:100px;
height:100px; 
margin-left:70px;
}
#eachsoyvita{

background-color: white;
padding:10px;
}
.name{
height:35px;
overflow-y: hidden;
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
color:#4d4e4e;
font-weight: 700;
}
#button{
color:white;
background-color: #189ea3;
padding:15px;
border-radius: 10px;
}
div+p{
color:grey
}
p+div{
display:flex;
justify-content: space-between;
}
#strikeprice{
text-decoration: line-through grey;
color:rgba(0, 0, 0, 0.658);
}
#eachsoyvita:hover{
box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.lower>h2{
font-family:  -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
color:#4d4e4e;
}
.left{

width:70%;
height:65%;
background-color: white;
}
.right{

width:38%;
height:100%;
margin-left: 35px;

}
.right>div:nth-child(1){
height:75%;
width:100%;

background-color: white;

}
.right>div>img{
height:100%;
width:100%;
background-color: white;


}
#smallimg{

width:100%;
height:80px;
background-color: white;
}
#smallimg>img{
height:100%;
width:80px;
border:1px solid #189ea3;
}
#icons{
display:flex;
margin-top: 5px;
}
.left{
padding:20px;
}
.left>div:nth-child(1){
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
color:#189ea3;
font-size:24px;
line-height: 26px;
font-weight: 500;
}
.left>div:nth-child(2){
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
color:#4d4e4e;
font-weight: 400;
font-size: 14px;
line-height: 21px;
}
h3{
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
color:#4d4e4e;

}
.left>div:nth-child(4){
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
color:#4d4e4e;
font-size: 20px;
}
#btn{

    color:white;
    background-color: #189ea3;
    padding:15px;
    border-radius: 10px;
    width:120px;
    height:20px;
    font-size: 20px;
}
.note{
color:#189ea3;
font-size: smaller;
margin-top: 10px;
}

button{
width:fit-content;
height:fit-content;
background-color: #189ea3;
padding:10px;

border-radius:50%;
border:0;
margin-right: 5px;
margin-left: 5px;
}
.icon{
color:white;
/* background-color: #189ea3; */
padding:5px;
width:100%;
height:100%;
font-weight: bolder;
font-size: 20px;

}
#num{
font-size: 20px;
line-height: 50px;
color:#189ea3;
}
p>span:nth-child(1){
text-decoration: line-through;
}
p>span:nth-child(2){
color:#189ea3;
}
#icons>div{
height:20px;
width:70px;
padding:10px;
margin-left:5px;
border-radius: 5px;
margin-top: 5px;


}
.fbicon{
background-color: #4267b2;
color:white;
}
.twitter{
background-color: #55acee;
color:white;
}
.pin{
background-color: #cb2027;
color:white;
}
.mail{
background-color: #7d7d7d;
color:white;
}
.share{
background-color: #95d03a;
color:white;
}
span>img{
height:20px;
height:20px;
background-color: white;
margin-right: 5px;
}
hr+div{
border : 1px solid grey;
background-color:white;
color: #189ea3;
width:50px;
margin-left: 800px;
height:max-content;
margin-top: 20px;
font-size: 15px;
padding:5px;
border-radius: 10px;

}
hr{
border:0.2px grey dotted;
}
#back:hover{
    cursor: pointer;
    background-color:#f3f3f3 ;
}
#icons:hover,img:hover,#button:hover{
    cursor:pointer;
}
#btn{
    display:flex;
  margin-top: 0;
    
}
#btn>button{
    width:20px;
    height:15px;
  
    background-color: #189ea3;
    color:white;
    font-weight: bolder;
    border:0;
    font-size: 25px;
    border-radius: 5px;
    margin-top: 0;
}
#btn>div{
    margin-top: 0;
    font-size: 25px;
    color:white;
}
#main{
    margin-top:50px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: white;
}
#payment{
    text-align: center;
    margin-top:50px;
}
#main>div{
    margin-top: 30px;
}
#brand{
    margin: auto;
    text-align: center;
    width: 90%;
}
#brand>a:hover{
    color:#189ea3;

}
a{
    text-decoration: none;
    color: #4d4e4e;
    margin-left: 10px;
}
h3{
    color: #4d4e4e;
    margin-top: 10px;
}
#online{
    margin: auto;
    text-align: center;
    width: 90%;
    color: #4d4e4e;
}
#mednear{
    margin: auto;
    margin-top: 40px;
    text-align: center;
    width: 90%;
    color: #4d4e4e;
}
#blog{
    margin: auto;
    margin-top: 40px;
    width: 90%;
    color: #4d4e4e;
    display: flex;
    justify-content: space-around;
}
#blog>div>p:hover{
color:#189ea3;
}
#end{
    margin: auto;
    margin-top: 40px;
    text-align: center;
    width: 90%;
    color: #4d4e4e;
}
b{color: #4d4e4e;}
#end>p{font-size: 12px;}

@media only screen and (min-width:0px) and (max-width:376px){
    .left{
        margin-bottom: 30px;
        margin-left: 0;
        height:90%;
        background-color: white;
       
        }
    .upper{
        flex-direction: column;
        margin-left: 0;
        padding-left: 0;
        margin-bottom: 370px;
    }
   

    .right{
        margin-left: 0;
        padding-left: 0;
        width:80%;
        height:100%;
        
        
        }
    #payment>img{
        width:280px;
    }
    #blog{
        
        margin-top: 40px;
        width: 90%;
        color: #4d4e4e;
        display: flex;
        
    }
    #blog>div:nth-child(1){
        width:90px;

    }
    #blog>div:nth-child(2),#blog>div:nth-child(3){
        width:85px;

    }
    

    #blog>div:nth-child(4)>img{
        width:90px;
        margin-left:15px;
    }
    #icons>div{
        height:15px;
        width:50px;
        padding:5px;
        margin-left:2px;
        border-radius: 4px;
        margin-top: 5px;
        color:#f3f3f3
        
        }
        .lower{
    
            width:92%;
            padding-left: 0;
            margin-bottom: 1230px;
            
        }
        .lower>div{
            display:grid;
            /* grid-template-rows:  */
            grid-template-columns: 260px;
            grid-template-rows: repeat(5,300px);
            grid-gap:3px;
        }
        
        #tag{
            content: "";
        }
        
        #main{
            width:80%;
        }
        
}
@media only screen and (min-width:377px) and (max-width:769px){
    .left{
        margin-bottom: 30px;
        margin-left: 0;
        width: 90%;
        height:77%;
        background-color: white;
        }
    .upper{
        width: 90%;
        flex-direction: column;
        margin-left: 0;
        padding-left: 0;
        margin-bottom: 390px;
    }
    .right{
        margin-left: 0;
        padding-left: 0;
        width:90%;
        height:100%;
        
        
        }
    #payment>img{
        width:500px;
    }
    #blog{
        
        margin-top: 40px;
        width: 90%;
        color: #4d4e4e;
        display: flex;
        
    }
    #blog>div:nth-child(1){
        width:90px;

    }
    #blog>div:nth-child(2),#blog>div:nth-child(3){
        width:85px;

    }
    

    #blog>div:nth-child(4)>img{
        width:90px;
        margin-left:15px;
    }
    #icons>div{
        height:15px;
        width:50px;
        padding:5px;
        margin-left:2px;
        border-radius: 4px;
        margin-top: 5px;
        color:#f3f3f3
        
        }
        .lower{
    
            width:92%;
            padding-left: 0;
            margin-bottom: 350px;
            
        }
        .lower>div{
            display:grid;
            /* grid-template-rows:  */
            grid-template-columns:repeat(3,230px);
            grid-template-rows: repeat(2,300px);
            grid-gap:5px;
        }
        
        #main{
            width:90%;
        }
        #back{
            margin:0;
        }
}