.container {
    width: 100%;
}

.navbar-top {
    height: 80px; 
    font-size: larger;
    border: 1px solid #189ea3;
}
.bradcum {
    height: 30px;
    border: 1px solid #189ea3;
    margin: 5px;
}

.details-page {}

.w-65 {
    width: 65%;
}

.w-60 {
    width: 65%;
}

.w-35 {
    width: 35%;
}

.w-30 {
    width: 30%;
}

.w-100 {
    width: 100%;
}

.m-1 {
    margin: 1em;
}

.m-5 {
    margin: 5em;
}

.p-5 {
    padding: 5vh;
}

.bg-shade {
    background-color: rgb(244, 243, 252);
}

.bg-white {
    background-color: rgb(255, 255, 255);
}

.float-right {
    float: right;
}

.float-left {
    float: left;
}

.pt-2 {
    padding-top: 2vh;
}


.pb-2 {
    padding-bottom: 2vh;
}

.product-detail-image {
    max-width: 400px;
    max-height: 400px;
    margin: 0 auto;
}

.product-detail-image img {
    width: 400px;
}

.small-image {
   
}




.product-name-xl {
    font-size: 24px;
    line-height: 18px;
    font-weight: bold;
    color: #189ea3;
    margin: 5px 0;
    overflow: hidden;
    font-family: inherit;
}

.m-2 {
    margin: 2vh;
}

.product-label-xl {
    font-size: 18px;
    opacity: 0.8;
    padding-bottom: 10px;
}

.company-name {
    color: #4d4e4e;
    outline: none;
    text-decoration: none;
    font-size: 20px;
    font-family: inherit;
    font-weight: 500;
    padding-bottom: 10px;
}

.current-price-xl {
    font-size: 22px;
    font-weight: bold;
}
.price-xl {
    text-decoration: line-through;
    font-size: 15px;
}
.offer-xl {
    border: 1px solid #189ea3;
    border-radius: 3px;
    /* z-index: 1; */
    font-size: 10px;
    font-weight: 500;
    padding: 5px;
    /* float: left; */
    color: #189ea3;
    margin-bottom: 5px;
    
}

.button-2 {
    border: 1px solid #189ea3;
    border-radius: 5px;
    color: white;
    text-align: center;
    font-size: 14px;
    padding: 8px 40px;
    margin: 4px 2px;
    background-color: #189ea3;
    margin-top: 15px;
    
}
.button-2:hover{
    cursor: pointer;
    box-shadow: rgba(45, 35, 66, .4) 0 4px 8px;
    transform: translateY(-2px);
}

.button-back {
    float: right;
    border: 1px solid #189ea3;
    border-radius: 5px;
    color: #189ea3;
    text-align: center;
    font-size: 14px;
    padding: 8px 40px;
    margin: 4px 2px;
    background-color: white;
}
.button-back:hover {
    background-color: #189ea3;
    color: black;
}

.red {
    background-color: #dd4b39;
}
.blue {
    background-color: #3B5998;
}
.gray {
    background-color: #125688;
}
.sky {
    background-color: #55ACEE;
}
.share {
    background-color: #ff6600;
}



.button-29 {
  align-items: center;
  appearance: none;
  /* background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);  */
  
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(0,0,0, .4) 0 3px 5px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  
  font-family: "JetBrains Mono",monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding: 1px, 10px;
  text-align: center;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
  margin: auto;
  padding: auto;
}

.button-29:hover {
  box-shadow: rgba(45, 35, 66, .4) 0 4px 8px;
  transform: translateY(-2px);
}

.button-29:active {
  box-shadow: #3c4fe0 0 3px 7px inset;
  transform: translateY(2px);
}


.note {
    color: #189ea3;
    font-size: 13px;
    font-family: inherit;
}

.other-box {
    display: grid;
    border: 1px solid black;
    width: 20%;
}

.product-details {
    color: #4d4e4e;
}