

#container{
    display: grid;
    width: 100%;
    /* height: 70px; */
          
}
body{
    background-color: #f3f3f3;
}
#container>div{
    display: flex;
    width: 100%;
    height: 80px;
    background-color: white;

}
.first_div{
    /* border: 3px solid rgb(177, 46, 46); */
    position:fixed;
    z-index:35;
    /* box-shadow: rgba(67, 67, 68, 0.2) 0px 7px 29px 0px; */
    margin:0;
}
.sec_div{
    border: 0.1px solid rgb(121, 122, 121);
    position:sticky;
    /* width:13000px; */
    margin-top: 80px;
    background-color: white;
    
}


.med_image{
width: 200px;
    height: 70px;
    margin-left: 40px;
  
}
.search_box{
  display: flex;
  height: 50px;
  width: 55%;
  /* padding:auto; */
  margin:15px;
  border: 1px solid gray;
  border-radius: 10px;
  
}
.search{
height: 48px;
  width: 90%;
  /* padding:auto; */
  /* margin:2px; */
  border: 0;
  border-radius: 10px;
  font-size: 17px;
}
.search_tag_img{
  float: right;
  margin: 3px;
  width: 35px;
  height: 35px;
  padding:4px;
  border-radius: 50%;
  background-color: white;
}
.search_tag_img:hover{
background-color: #eff5f5; 
}
.order_div{
   display: flex;
   width: 170px;
  height: 35px;
  border-radius: 8px;
  background-color: #189ea3;
  color:white;
   padding:8px;
  margin-top:20px;
  margin-right: 10px;
}
.order_div:hover{
    color: #cad6d6;
    cursor: pointer;
}
.order{
width: 130px;
height: 40px;
font-size: 15px;
line-height: 18px;
margin-left: 9px;
}
.order_img{
width: 48px;
  height:40px;

  
}
.log_div{
  display: flex;
width: 160px;
padding: 5px;
height: 40px;
margin-top: 15px;
}
.log_div:hover{
color: #93b3b4;
cursor: pointer;
}
.log{
width: 100px;
height: 25px;
text-align: left;
font-size:20px;
margin: 8px;
}
.log_img{
width: 28px;
height: 27px;
/* margin-top: 20px; 
margin-left: 18px;  */
border-radius: 50%;
  background-color: rgb(243, 240, 240);
  padding:5px;
}
.tag{
width: 27px;
height: 27px;
margin: 17px; 
margin-left: 3px;
border-radius: 50%;
padding:10px;
background-color: rgb(243, 240, 240);
 
}
.tag:hover{ 
cursor: pointer;
background-color:  rgb(215, 226, 226);
}
.div{
    height: 80px;
    width: 100%;
    /* background-color: white; */
}
#image{
    height: 40px;
    width: 50px;
    margin-top: 10px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
   line-height: 1px;
   margin-left: 40px;

}
.div:hover{
color:cadetblue;
cursor: pointer;
box-shadow: rgba(224, 224, 228, 0.2) 0px 7px 29px 0px; 
}
.name{
    line-height: 3px;
    margin-left: 35px;
    font-size: 12px;
}
.carousel{
    margin: auto;
    position:sticky;
    width: 92%;
  height: 420px;
  /* border: 1px solid rgb(226, 41, 41); */
  margin-top:20px ;
/* display: none; */
/* background-color: white; */
}
.div>img{
      width: 100%;
  height: 420px;
 }
 /* .carousel-cell:before{
     display: block;
 } */
.add{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(1,100%);
    grid-gap:25px;
    margin: auto;
    margin-top:50px;
    width: 92%;
    height:120px;
    border: 1px solid transparent;
}
.add>div>img{
    width: 100%;
    height:100%;
    /* border: 1px solid rgb(26, 24, 24); */
}
.add_2{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(1,100%);
    grid-gap:25px;
    margin: auto;
    margin-top:45px;
    width: 90%;
    height:100px;
    border: 1px solid transparent;
    /* border: 1px solid rgb(26, 24, 24); */
  
    
}
.add_2>div>img{
    width: 100%;
    height:100px;
    padding:8px;
    /* border: 1px solid rgb(26, 24, 24); */
    background-color:white;
}
.add_2>div>img:hover{
    box-shadow: rgba(98, 98, 100, 0.2) 0px 7px 29px 0px;
}
.add>div>img:hover{
    box-shadow: rgba(98, 98, 100, 0.2) 0px 7px 29px 0px;
}
.hr{
    margin-top: 90px;
}
.trade{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(1,90%);
    grid-gap:6px;
    margin: auto;
    height:270px;
    width: 92%;
    /* border: 1px solid rgb(26, 24, 24); */
    margin-top:10px;
}
.trade>div{
    height:270px;
    width:100%;
    box-shadow: rgba(98, 98, 100, 0.2) 0px 7px 29px 0px;
    background-color: white;
}
.trade>div:hover{
    box-shadow: rgba(250, 246, 246, 0.2) 0px 7px 29px 0px;
}    
.box1{
width: 47px;
height: 20px;
border: 1px solid #189ea3;
margin-top: 15px;
margin-left: 15px;
color:#189ea3;
border-radius: 5px;
text-align: center;
}
.box2{
width: 37%;
height: 100px;
/* border: 1px solid rgb(26, 24, 24); */
margin:auto;
/* margin:5px; */

}
.box2>img{
    width: 100%;
height: 100px;
}

.box3{
width: 90%;
height: 50px;
/* border: 1px solid rgb(26, 24, 24); */
margin:2x;
line-height: 8px;
margin-left: 15px;
font-size: 14px;
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.box4{
    width: 95%;
height: 70px;
/* border: 1px solid rgb(26, 24, 24); */
display: flex;
}
.box5{
    width: 40%;
    height: 70px;
    /* border: 1px solid rgb(26, 24, 24); */
    line-height: 10px;
    margin-left: 15px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.box6{
    width: 49%;
    height: 15px;
    /* border: 1px solid rgb(26, 24, 24); */
    margin-top: 10px;
    margin-left: 50px;
    /* margin: 15px; */
    border-radius: 6px;
    color: white;
    background-color: #189ea3;
    text-align: center;
    padding: 15px;
    
}
.box6:hover{
    background-color: #1e5f63;
}
.un{
    text-decoration: line-through;
    font-size: small;
    
}
.p{
    margin:30px;
    margin-left: 50px;
    font-size: 20px;
    font-weight: bolder;
    /* padding:20px; */
    color:#4d4e4e;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#india{
    display: flex;
    width: 100%;
    height: 450px;
    margin-top:60px;
    background-color: white;
    /* border: 1px solid black; */
}
.india_img{
    width: 30%;
    height: 100%;
    /* border: 1px solid rgb(141, 37, 37); */
}
.india_text{
    width: 70%;
    height: 100%;
    /* border: 1px solid rgb(77, 201, 20); */
    /* text-align: center; */
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
.india_text>p:nth-child(1){
    color: #349ea3;
   line-height: 50px;
   margin-left: 33px; 
   font-size: 35px;
   font-weight:35px;
}
.india_text>p:nth-child(2){
    color:#4d4e4e;
   line-height: 30px; 
   margin-left: 33px;
   font-size: 20px;
}
.petter{
    display: grid;
    grid-template-columns:repeat(4,1fr);
    grid-template-rows: repeat(1,1fr);
    /* width: 100%; */
    grid-gap:10px;
    height: 150px;
    /* margin-top:60px; */
    background-color: white;
    /* border: 1px solid black; */
}
.petter>div{
    width: 100%;
    border: 0.5px solid #a9aaaa;
    height: 150px;
    /* margin-left: 50px; */
    text-align: center;
}
.petter>div>img{
    width: 50px;
    margin-top: 10px;
    /* margin-left: 40px; */
    height: 50px;
    /* background-color:white; */
}
.petter>div>p:nth-child(2){
    font-size: 15px;
    margin-left: 20px;
    line-height: 5px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color:#4d4e4e;
}
.petter>div>p:nth-child(1){
    font-size: 13px;
    margin-left: 20px;
    line-height: 10px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color:#4d4e4e;
}